.loading{
    position: relative;
}

.loading::before,
.loading::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: rotate 1s infinite
    cubic-bezier(0.77, 0, 0.175, 1);
}

.loading::before{
    background-color: #ff0d86;
}

.loading::after{
    background-color: #2a58ff;
    animation-delay: .5s;
}

@keyframes rotate{
    0%,100%{
        left: 95px;
    }
    25%{
        transform: scale(.3);
    }
    50%{
        left: 0;
    }
    75%{
        transform: scale(1);
    }
}