.crop-container {
    background-color: rgba(0, 0, 0, 0.872);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.img-controls {
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.img-slider {
    padding: 22px 0px;
}

.zoom-range-control {
    height: 2px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    background: #3f51b5;
    width: 100%;
}

.zoom-range-control::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #3f51b5;
    background: #3f51b5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.zoom-range-contol::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #3f51b5;
    background: #3f51b5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.img-controls:hover input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
    border-radius: 50%;
}

.img-controls:hover input[type='range']::-moz-range-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}


.hide {
    display: none;
}

.reactEasyCrop_Container {
    border-radius: 50px;
}